<head>
  <link href="sheepshead.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400, 400i"/>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
  <meta name="viewport" content="width=device-width"/>
</head>
<body>
  <div class="players">
    <div class="text-con">
      <div class="title">Choose the Number of Players</div>
      <div id="three" class="choice">Three Players</div>
      <div id="four" class="choice">Four Players</div>
      <div id="five" class="choice">Five Players</div>
      <div id="six" class="choice">Six Players</div>
    </div>
  </div>
  <div class="three-players play">
    <div class="title">Three Players</div>
    <div class="column-con">
      <div class="column">
        <input placeholder="Player 1"/>
        <div id="player13P" class="score"></div>
        <div id="p1pick3P" class="picker">Picked It</div>
        <div id="p1dd3P" class="pick-dropdown">
          <div id="p1ws3P" class="scoring-attribute">Won (Schneider)</div>
          <div id="p1wns3P" class="scoring-attribute">Won (No Schneider)</div>
          <div id="p1wdt3P" class="scoring-attribute">Won (De-Tricked)</div>
          <div id="p1ls3P" class="scoring-attribute">Lost (Schneider)</div>
          <div id="p1lns3P" class="scoring-attribute">Lost (No Schneider)</div>
          <div id="p1ldt3P" class="scoring-attribute">Lost (De-Tricked)</div>
          <div id="p1rap3P" class="scoring-attribute rap">Rapped <span id="p1rapcount3P" class="rapcount"></span><span id="p1au3P" class="ion-arrow-up-b arrow"></span><span id="p1ad3P" class="ion-arrow-down-b arrow"></span></div>
          <div class="scoring-attribute doubler">Doubler</div>
        </div>
      </div>
      <div class="column">
        <input placeholder="Player 2"/>
        <div id="player23P" class="score"></div>
        <div id="p2pick3P" class="picker">Picked It</div>
        <div id="p2dd3P" class="pick-dropdown">
          <div id="p2ws3P" class="scoring-attribute">Won (Schneider)</div>
          <div id="p2wns3P" class="scoring-attribute">Won (No Schneider)</div>
          <div id="p2wdt3P" class="scoring-attribute">Won (De-Tricked)</div>
          <div id="p2ls3P" class="scoring-attribute">Lost (Schneider)</div>
          <div id="p2lns3P" class="scoring-attribute">Lost (No Schneider)</div>
          <div id="p2ldt3P" class="scoring-attribute">Lost (De-Tricked)</div>
          <div id="p2rap3P" class="scoring-attribute rap">Rapped <span id="p2rapcount3P" class="rapcount"></span><span id="p2au3P" class="ion-arrow-up-b arrow"></span><span id="p2ad3P" class="ion-arrow-down-b arrow"></span></div>
          <div class="scoring-attribute doubler">Doubler</div>
        </div>
      </div>
      <div class="column">
        <input placeholder="Player 3"/>
        <div id="player33P" class="score"></div>
        <div id="p3pick3P" class="picker">Picked It</div>
        <div id="p3dd3P" class="pick-dropdown">
          <div id="p3ws3P" class="scoring-attribute">Won (Schneider)</div>
          <div id="p3wns3P" class="scoring-attribute">Won (No Schneider)</div>
          <div id="p3wdt3P" class="scoring-attribute">Won (De-Tricked)</div>
          <div id="p3ls3P" class="scoring-attribute">Lost (Schneider)</div>
          <div id="p3lns3P" class="scoring-attribute">Lost (No Schneider)</div>
          <div id="p3ldt3P" class="scoring-attribute">Lost (De-Tricked)</div>
          <div id="p3rap3P" class="scoring-attribute rap">Rapped <span id="p3rapcount3P" class="rapcount"></span><span id="p3au3P" class="ion-arrow-up-b arrow"></span><span id="p3ad3P" class="ion-arrow-down-b arrow"></span></div>
          <div class="scoring-attribute doubler">Doubler</div>
        </div>
      </div>
      <div class="score-con"><span id="score3P" class="score">Score Hand</span></div>
    </div>
  </div>
  <div class="four-players play">
    <div class="title">Four Players</div>
    <div class="column-con">
      <div class="column">
        <input placeholder="Player 1"/>
      </div>
      <div class="column">
        <input placeholder="Player 2"/>
      </div>
      <div class="column">
        <input placeholder="Player 3"/>
      </div>
      <div class="column">
        <input placeholder="Player 4"/>
      </div>
    </div>
  </div>
  <div class="five-players play">
    <div class="title">Five Players</div>
    <div class="column-con">
      <div class="column">
        <input placeholder="Player 1"/>
      </div>
      <div class="column">
        <input placeholder="Player 2"/>
      </div>
      <div class="column">
        <input placeholder="Player 3"/>
      </div>
      <div class="column">
        <input placeholder="Player 4"/>
      </div>
      <div class="column">
        <input placeholder="Player 5"/>
      </div>
    </div>
  </div>
  <div class="six-players play">
    <div class="title">Six Players</div>
    <div class="column-con">
      <div class="column">
        <input placeholder="Player 1"/>
      </div>
      <div class="column">
        <input placeholder="Player 2"/>
      </div>
      <div class="column">
        <input placeholder="Player 3"/>
      </div>
      <div class="column">
        <input placeholder="Player 4"/>
      </div>
      <div class="column">
        <input placeholder="Player 5"/>
      </div>
      <div class="column">
        <input placeholder="Player 6"/>
      </div>
    </div>
  </div>
</body>